.prob {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .prob--title {
        font-size: 3.7em;
        font-weight: 500;

        // position: sticky;
        // top: 30%;
        overflow: hidden;
    }

    .prob--list {
        display: flex;
        flex-direction: row;
        align-items: center;

        .pb {
            background-color: rgba(130, 189, 251, 0.61);
            font-size: 1.4em;
            padding: 20px;
            margin: 10px;
            margin-top: 30px;
            border-radius: 14px;
            border: 0;
            font-family: 'Poppins', sans-serif;
            transition: .25s;
            color: white;
        }

        .pb:hover {
            transform: scale(110%);
            background-color: rgba(227, 119, 248, 0.616);
        }

    }

    .blank {
        height: 0vh;
    }



}

@keyframes scrolldown-animation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(0);
    }
}

.hero-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 1700px;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;

    .scrolldown {
        position: relative;
        top: -170px;
        right: -40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-name: scrolldown-animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 0.1s;
        img {
            width: 50px;
        }
    }

    .titlu {
        font-size: 2.2em;
        font-weight: 800;
    }

    .carusel {
        cursor: grab;
        overflow: hidden;
        .inner-carusel {
            display: flex;
            gap: 10px;
            .card {
                background: rgba(236, 245, 255, 0.308);
                border-radius: 2rem;
                padding: 20px;
                min-width: 70vw;
                min-height: 60vh;

                p {
                    font-size: 1.5em;
                }
            }
        }
    }

}
    