@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

:root {
    --clr-1: rgb(32, 32, 32);
    --clr-2: #052b2f;
    --clr-3: #0e4b50;
    --clr-4: #2d8f85;
    --clr-5: #637c54;
}

.prob {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .prob--title {
        font-size: 3.7em;
        font-weight: 500;

        // position: sticky;
        // top: 30%;
        overflow: hidden;
    }

    .prob--list {
        display: flex;
        flex-direction: row;
        align-items: center;

        .pb {
            background-color: rgba(130, 189, 251, 0.61);
            font-size: 1.4em;
            padding: 20px;
            margin: 10px;
            margin-top: 30px;
            border-radius: 14px;
            border: 0;
            font-family: 'Poppins', sans-serif;
            transition: .25s;
            color: white;
        }

        .pb:hover {
            transform: scale(110%);
            background-color: rgba(227, 119, 248, 0.616);
        }

    }

    .blank {
        height: 0vh;
    }



}

@keyframes scrolldown-animation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(0);
    }
}

.hero-container {
    height: 1000vh;
    width: 100%;
    position: absolute;
    top: 1700px;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;

    .scrolldown {
        position: relative;
        top: -170px;
        right: -40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-name: scrolldown-animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 0.1s;
        img {
            width: 50px;
        }
    }

    .titlu {
        font-size: 2.2em;
        font-weight: 800;
    }

    .carusel {
        cursor: grab;
        overflow: hidden;
        .inner-carusel {
            display: flex;
            gap: 10px;
            .card {
                background: rgba(236, 245, 255, 0.308);
                border-radius: 2rem;
                padding: 20px;
                min-width: 70vw;
                min-height: 60vh;

                p {
                    font-size: 1.5em;
                }
            }
        }
    }

    .algoritm {
        position: relative;
        top: 100px;

        .algoritm1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding-top: 50px;

            .rezolvare1 {
                width: 45vw;
                height: 550px;
                background-color: rgb(32, 32, 32);
                border-radius: 14px;
                
                

                .rezolvare1--text {
                    font-family: 'Consolas';
                    line-height: 10px;
                    margin: 30px;
                }
            }
            

            .explicare1 {
                width: 45vw;
                height: 550px;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 14px;
                
                
                .explicare1--text {
                    font-size: 1.7rem;
                    padding-top: 15px;
                    padding-left: 20px;
                }

            }
        }
            
        
    }

}
    